\documentclass[12pt, letterpaper]{report}
\begin{document}

\begin{titlepage}
    \begin{center}
       \Large\textbf{Test Report}\\
       \large\textit{A. Mohamed Elwarraky}\\
       \large\today
    \end{center}
\end{titlepage}

\newpage

\chapter{Introduction}

\section{First Section}

This is the first section.

\section{Second Section}

This is the second section.

\subsection{First Subsection}

This is the first sub-section.

\chapter{Test Results}

\begin{center}
    \begin{tabular}{||c | c ||}  \hline
        Test Name & Result \\ \hline\hline
        {% for key, value in Tests.items() %}
            {{key}} & {{value}} \\ \hline
        {% endfor %}
   \end{tabular}
\end{center}

\end{document}